body{
    background: lightblue;
    padding: 15px;
}
header {
color: white;
text-align: center;

}
div {


font: 15pt arial;
}
section {
    background: white;
    box-shadow: 5px 5px 10px black;
    border-radius: 15px;
padding: 10px;
    width: 480px;
    margin: auto;
    height: 450px;


}
footer {
font: 13pt italic;
padding: 40px;
text-align: center;
color: white;
}